/***  Custom variables  ***/
$theme-color: #f4df41;
$theme-color-secondary: #ffca28;
$theme-color-secondary: #ffca28;

$primary-bg: #fefefe;
$secondary-bg: #f9f9f9;

$primary-text-color: #333;
$secondary-text-color: #555;
$overlay-color: #fff;
$link-color: #4183C4;

$primary-border-color: #ededed;
$secondary-border-color: #ccc;
$thirty-border-color: rgba(34, 36, 38, 0.15);

$line-height: 1.42;


/***  Bootstrap variables  ***/
$grid-gutter-width: 20px;

// full width after desktop
$container-tablet: 100%;
$container-sm: 100%;
